params {

    // Reads and references
    adapter_fa = "/projectnb/bf528/materials/project-3-chipseq/refs/TruSeq3-SE.fa"
    blacklist = "/projectnb/bf528/students/morzenti/final-project-template-lmorzenti/refs/mm10-blacklist.v2.bed" //dont need to do the liftover
    window = 2000
    genome = "/projectnb/bf528/students/morzenti/final-project-template-lmorzenti/refs/GRCm39.primary_assembly.genome.fa"
    gtf = "/projectnb/bf528/students/morzenti/final-project-template-lmorzenti/refs/gencode.vM35.primary_assembly.annotation.gtf"
    TSS = "/projectnb/bf528/students/morzenti/final-project-template-lmorzenti/refs/mm39_TSS.bed"
    ucsc_genes = "/projectnb/bf528/students/morzenti/final-project-template-lmorzenti/refs/m39_genes.bed"

    window = 2000
    samplesheet = "$projectDir/samplesheet.csv"
    cdc1_lost_peaks = "$projectDir/cDC1_lost_accessibility.bed"
    cdc1_gained_peaks = "$projectDir/cDC1_gained_accessibility.bed"
    cdc2_lost_peaks = "$projectDir/cDC2_lost_accessibility.bed"
    cdc2_gained_peaks = "$projectDir/cDC2_gained_accessibility.bed"
    corrtype = 'spearman'

    
    // Directories
    outdir = "$projectDir/results/"
}


profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 40
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 12
    }
    $local {
        cpus = 1
    }
}

resume = true